<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jcs.where">
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- com 100 -->
    <permission
        android:name="com.jcs.where.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jcs.where.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- com 100 -->

    <!--允许程序打开网络套接字-->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AnimActivity"
        tools:replace="android:icon, android:theme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jcs.where.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity
            android:name=".flash.activity.FlashActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:fitsSystemWindows="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".login.LoginActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".login.ForgetPasswordActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".login.RegisterActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.CityPickerActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelListActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelDetailActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelSubscribeActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelPayActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelOrderDetailActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelMapActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".hotel.activity.HotelCommentActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".mango.ImageBrowseActivity"
            android:theme="@style/mangoAppTheme" />

        <activity
            android:name=".hotel.activity.WriteCommentActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".search.SearchActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".currency.WebViewActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".mine.activity.PersonalDataActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".travel.TravelMapActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".travel.TouristAttractionDetailActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".travel.TravelWriteCommentActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".travel.TravelCommentActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".home.activity.TravelStayActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".utils.ImagePreviewActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".government.activity.GovernmentMapActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".government.activity.MechanismDetailActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".yellow_page.activity.YellowPageActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".convenience.activity.ConvenienceServiceActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".news.NewsActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".mine.activity.LanguageActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".news.SelectNewsChannelActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".integral.IntegralActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".news.NewsDetailActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".news.NewsSearchResultActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".news.NewsVideoActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".features.setting.SettingActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".features.account.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.account.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.account.password.PasswordResetActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".mine.activity.CollectionListActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".features.account.bind.BindPhoneActivity" />

        <activity
            android:name=".mine.activity.FootprintActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".home.activity.ApplyRefundActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <!-- comm 100  -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle">

        </activity>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jcs.where" />
            </intent-filter>
        </activity>


        <activity android:name=".customer.ExtendChatActivity" />
        <activity
            android:name=".mine.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".features.setting.information.ModifyInfoActivity" />
        <activity android:name=".features.setting.password.ModifyPasswordActivity" />
        <activity android:name=".features.setting.phone.verify.password.PasswordVerifyActivity" />
        <activity android:name=".features.setting.phone.verify.code.CodeVerifyActivity" />
        <activity android:name=".features.setting.phone.confirm.NewPhoneActivity" />
        <activity android:name=".features.setting.phone.ModifyPhoneActivity" />

        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.jcs.where.DataProvider"
            android:exported="false" />

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.jcs.where" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.jcs.where.DownloadProvider"
            android:exported="true" />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.jcs.where" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".customer.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />

                <category android:name="com.jcs.where" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="dca78eb7c81e4244fb6254c0" />

        <!-- comm 100  -->


    </application>

</manifest>